<a href="https://colab.research.google.com/github/tanisha1707/Python-Learning/blob/main/Loops_%26_Control_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## type casting example
val=input("enter the number")
value_float=float(val)
print(value_float)

enter the number45
45.0

In [5]:
## If statement
val = input("Enter the number: ")
value_float = float(val)

if (value_float % 2==0):
    print("The number is a even number")

Enter the number: 24
The number is a even number

In [7]:
## If else statement
val = input("Enter the number: ")
value_float = float(val)

if (value_float % 2==0):
    print("The number is a even number")
else:
  print("the number is odd number")

Enter the number: 23
the number is odd number

In [15]:
## Nested if else
#we write elif for else if

age=float(input("enter the age"))

if(age<18):
  print("Padayi karo")

elif(age>=18 and age<=45):
  print("Job Karo")

elif(age>45 and age<=50):
  print("Senior citizens")

else:
  print("you are going to die soon")

enter the age47
Senior citizens

In [17]:
## Loop Statements
## For loop

lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

In [20]:
## example:- Find the sum of all the elements in the list

lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
    sum1=sum1+i

print(sum1)

28

In [21]:
## Example:- find the sum of even and odd numbers

lst=[1,2,3,4,5,6,7,8]
even_sum=0
odd_sum=0

for i in lst:
  if(i%2==0):
     even_sum = even_sum + i
  else:
    odd_sum = odd_sum + i
print("Even numbers sum is{}".format(even_sum))
print("Odd numbers sum is{}".format(odd_sum))

Even numbers sum is20
Odd numbers sum is16

In [22]:
## while loop

i=0
while(i<=10):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [23]:
## Break statement
x=1
while(x<7):
  print(x)
  if x==4:
    break
  x=x+1

1
2
3
4

In [3]:
## Continue statement
x = 0
while x < 7:
    x = x + 1
    if x == 4:
        continue   # skips printing 4
    print(x)

1
2
3
5
6
7