<a href="https://colab.research.google.com/github/tanisha1707/Python-Learning/blob/main/Operators_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operators in python**
1.   logical
2.   equality
3. comparison
4. arithmatic
4.1.1 Logical Operators
In python following keywords are used for boolean operations -

Keywords & their Meaning
---
not	    ->   unary negation,
and	     ->   conditional AND,
or	     ->  conditional OR

In [1]:
type(True)

bool

In [2]:
bool(1)

True

In [3]:
bool(0)

False

In [3]:
## Logical statement

age=int(input("Enter the age"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age16
Successful execution

**Equality Operators**
Following operations are present in python for equlity check operation-

**Operators:-**

**is** ->	a is b returns true if variable/identifiers a and b points to the same object.

**is not** ->	a is not b returns true if variable/identifiers a and b points to the different object.

**==** ->	a == b returns true if variable/identifiers a and b has same value.

**!=** ->	a != b returns true if variable/identifiers a and b has different value

In [4]:
a="Krish"
b="Krish1"

a==b

False

In [7]:
age=int(input("Enter the age"))

if age==18:
    print("You are in the teenager age")
else:
  print("tum bade ho gaye ho")

Enter the age20
tum bade ho gaye ho

In [1]:
a="Tanisha"
b="Tanisha"
print(id(a)) #id(a) aapko dikha dega ki konsi memory object me point hua he
print(id(b))

133477960485168
133477960485168

In [2]:
a is b ## return true because 'is' operator check that they are pointing to same memory object or not

True

In [1]:
lst=[1,2,3]
lst1=[1,2,3]
print(id(lst))
print(id(lst1)) #id of this two will be diff because jab bhi ham koi collection vala item banate unko object diff tarike se create hota he even though the values are same

135493107153472
135493107152576

In [2]:
lst is lst1

False

**comparison operators**



**<**	  less than

**<=**  less than or equal to

**>** 	greater than

**>=**  greater than or equal to

In [3]:
marks= float(input("Enter the marks"))

if marks>=35:
    print("Pass")
    if marks>=50 and marks<=70:
        print("First")
elif marks<35:
    print("Fail")

Enter the marks55
Pass
First

**Arithmetic Operators**

 addition             **+**	  

 subtraction          **-**	  

 true division        **/**	  

integer division      **//**

the modulo operator     %

 multiplication        *

In [4]:
24+24

48

In [5]:
48-24

24

In [6]:
48*24

1152

In [7]:
48/4

12.0

In [8]:
48//5

9

In [9]:
48%5

3